[2015-07-06 22:49] armab opened #11 "ChatOps via private messages fails with 500"
When playing with chatops commands in the room (Slack room in our case) - it works ok.

When sending private message to bot, it returns 500:
![pm](http://i.imgur.com/B1A9Ghe.png)
(reproduced in Slack)

PM most probably is not the best way for ChatOps, but we should avoid user confusion here.

At least should be some more user-friendly message asking to use chat room (otherwise fix chatops via PM).

[2015-07-10 18:46] emptywee opened #12 "Command's parameters get their case lowered."
Hello.

Commands sent to the hubot, which passes them later to stackstorm, get their case lowered. I am seeing that this is done to get a matching command, but this causes different issues later. E.g., passing a hostname to ansible. Ansible looks for the exact name in its inventory. I think this can be worked around by copying the command to a temp var, changing it to lower case and get a matching

[2015-07-10 18:48] emptywee commented on #12
JFYI, seems to be working for me:
[code]

[2015-07-10 18:50] manasdk commented on #12
@emptywee

Thanks for the report. Can you provide the command literal for which you noticed the issue?

[2015-07-10 19:36] emptywee commented on #12
You are welcome.

Originally I was going to get a status of one of the hosts on the network. I had its hostname in uppercase in the ansible inventory file.

![Issue1](http://i.imgur.com/uXZTeVL.png)

So I got surpised, when I saw that.

I changed the action to just output the parameters and got this:

![Issue2](http://i.imgur.com/D12PRXL.png)

Hope this sheds some light on the original problem.

[2015-07-10 20:11] manasdk commented on #12
Yes this clarifies. I am working on some changes to this repo will try to get this fixed as well.

[2015-07-10 20:18] emptywee commented on #12
Thanks.

[2015-07-14 06:30] #12 closed

[2015-07-14 06:31] manasdk commented on #12
Fixed in #17

[2015-07-15 16:15] emptywee opened #19 "Aliases description is not shown in !help"
Hello.

Is it possible to show stackstorm's action-aliases descriptions after their format in hubot's help? Would be nice to give some hints for users. Thanks in advance.

[2015-07-15 16:37] emptywee commented on #19
Oops. Sorry, didn't wake up.

[2015-07-15 16:37] #19 closed

[2015-07-15 19:51] manasdk commented on #19
:)

[2015-07-16 14:35] emptywee opened #24 "Weird output in chatops"
Hello.

Not sure if this is hubot-stackstorm issue or not, but I am getting weirdly formatted output in the slack chatroom:
![Weird formatting](http://i.imgur.com/Zr5gBSs.png)

However running st2 run action [same action] from console it comes up just fine:
![console](http://i.imgur.com/kCICqmb.png)

Same nice output in WebUI of stackstorm2:
![webui](http://i.imgur.com/EGESReN.png)

And raw data f

[2015-07-16 18:04] manasdk commented on #24
For some reason slack servers refuse to interpret '\n' as a LineFeed. Per slack documentation -

[code]

see : https://api.slack.com/docs/formatting

[2015-07-16 19:18] emptywee commented on #24
Apparently this is not true for formatted as 'pre' (triple-`) blocks, which is done by formatData call in the stackstorm.js. Also, where do backslashes come from? Look at my first screenshot.

[2015-07-16 20:57] manasdk commented on #24
Not sure.

[2015-07-16 21:57] manasdk commented on #24
Those extra slashes look like are coming from https://github.com/StackStorm/st2contrib/blob/master/packs/hubot/actions/post_result.py#L16

[2015-07-16 22:48] emptywee commented on #24
Not sure what made you think so, @manasdk Let's discuss it on the IRC channel :)

[2015-07-16 23:22] manasdk commented on #24
Fixed. Closing issue.

[2015-07-16 23:22] #24 closed

[2015-07-20 14:43] emptywee opened #26 "Tunable formatting prefix-suffix"
Hello.

Can we move hardcoded formatting markdown characters from format_data.js to some kind of configuration file? Not all chat servers support it. I had to temporary remove it for *Let's Chat* server.

[code]
[code]

Thanks :)

[2015-07-20 15:10] jfryman commented on #26
@emptywee Do you have a PR with the change you made? We'll get this is queue, but if you have a working solution we can merge we'd be happy to look.

[2015-07-20 15:45] emptywee commented on #26
@jfryman no, I don't have a PR for this. I just removed the markdown elements :) But if @manasdk or @lakshmi-kannan (or whoever else is developing hubot-stackstorm) could make it configurable, it would be really nice and more suitable to use across different chat servers.

[2015-07-20 16:26] manasdk commented on #26
There is no formatting for most chat's. Only slack and hipchat get some special others don't really get any formatting support. Also, does look like you are referring to old code.

https://github.com/StackStorm/hubot-stackstorm/blob/master/lib/format_data.js#L95

[2015-07-21 12:21] emptywee commented on #26
@manasdk gotcha. Will update :) I am retarded, as usual :D

[2015-07-30 03:27] #26 closed

[2015-07-30 18:36] jfryman opened #31 "ERROR Failed to retrieve commands: null"
Received this error this AM while provisioning a new node with `st2express` latest (Atlas Image v0.13).

[code]

Hubot was setup using `st2installer`, configured to point to Slack. Aliases are indeed setup and active on the server.

[code]

Hubot v0.2.1, StackStorm version 0.12.0-3

[2015-07-31 16:49] Kami commented on #31
#32 Should "fix" it.

[2015-07-31 20:48] jfryman commented on #31
Yup. It does 'fix' it. I'm at least getting data on what is causing issues.

[Fri Jul 31 2015 20:46:09 GMT+0000 (UTC)] DEBUG Successfully authenticated.
[Fri Jul 31 2015 20:46:09 GMT+0000 (UTC)] INFO Loading commands....
[Fri Jul 31 2015 20:46:09 GMT+0000 (UTC)] ERROR Failed to retrieve commands from "https://st2express.fryman.io:9101": Error: UNABLE_TO_VERIFY_LEAF_SIGNATURE

Going to consider thi

[2015-07-31 20:48] #31 closed

[2015-08-03 13:37] armab opened #33 "ERROR: Unauthorized"
Running it on production with authentication enabled. At start it works ok, but after some period of time when trying to run chatops command I get:

![error](http://i.imgur.com/g8jvROd.png)

Version:
`hubot-stackstorm` `0.2.1`

Log:
[code]

Seems something related to expired tokens,
because after restarting hubot it returns back to normal.

[2015-08-27 23:04] pixelrebel commented on #33
I receive this error from the get-go of a hubot start.
[code]

[2015-08-28 16:45] jfryman commented on #33
@pixelrebel Is the username/password that you've passed to Hubot is valid and works via either the CLI or WebUI?

[2015-08-28 18:43] pixelrebel commented on #33
Oops.  I didn't do that step, in the past I had auth disabled.  How to I pass the credentials to hubot? Can I set an environment variable in [hubot.conf](https://github.com/StackStorm/showcase-ansible-chatops/blob/master/hubot/hubot.conf)?

[2015-08-28 18:50] pixelrebel commented on #33
@jfryman Oops. I didn't do that step, in the past I had auth disabled. How to I pass the credentials to hubot? Can I set an environment variable in hubot.conf? What's a secure method?

[2015-08-28 20:45] jfryman commented on #33
The best way to sent environment variables is either in the process supervisor that you are using to manage Hubot, or the entry script (`bin/hubot`). In there, you'll need to set a few env vars (see https://github.com/stackstorm/hubot-stackstorm#plugin-environment-variable-options) and you'll be good to go!

[2015-09-20 23:19] lakshmi-kannan opened #37 "Chatops integration isn't working with spaces in commands."
Problem:

!ansible uname -> WORKS
!ansible "uname -a" -> doesn't work.
!ansible 'uname -a' -> doesn't work.

Specs:

bacon [4:12 PM]
st2 ('0.13.2.5',)
st2 client 0.13.2.5
prd.testing.lanets.ca 3.13.0-32-generic
Python 2.7.6

bacon [4:12 PM]
I could update python to 2.7.9.

bacon [4:13 PM]
hubot-stackstorm@0.2.3

[2015-09-20 23:29] LaurentDumont commented on #37
For reference, I had been using the Stackstorm/Chat-Ops guide http://stackstorm.com/2015/06/24/ansible-chatops-get-started-%F0%9F%9A%80/

[2015-09-20 23:50] armab commented on #37
Thanks @LaurentDumont for report, I can confirm it:
http://i.imgur.com/HirRzDV.png

Also the message doesn't reach st2 api, should be some filtering on `hubot-stackstorm` plugin side.

[2015-09-21 17:40] cgallimore opened #38 "hubot loads with a syntax error"
This get emitted upon startup and repeats until Hubot eventually shuts down

[code]

[2015-10-06 13:17] armab commented on #37
Another report via #community from **bryantebeek** about using spaces in chatops commands:

[code]
Using `!slack say foo bar in chatops` doesn't work. Same for `!slack say "foo bar" in chatops` or `!slack say 'foo bar' in chatops`

So this bug applies for any chatops command with spaces, @lakshmi-kannan can you change the title then, since it's unrelated to ansible?
Should be regression in some ve

[2015-10-06 17:03] manasdk commented on #37
Fixed https://github.com/StackStorm/hubot-stackstorm/pull/42

[2015-10-06 17:03] #37 closed

[2015-10-12 11:54] bryantebeek commented on #37
@manasdk Upgraded to 0.2.5 but still not working on my side.

[2015-10-12 14:40] Kami opened #45 "New authentication token should be retrieved when the current one expires"
The bot should retrieve a new authentication token when the current one expires - currently it doesn't.

The best solution (imo) for this is to add alias related functionality to st2client.js and handle re-authentication transparently in the client. This way we don't need to reinvent the wheel in 2 places and the client needs and should support this functionality anyways.

Related st2client.js iss

[2015-10-12 14:40] Kami commented on #33
It looks like this is the same issue as #45.

I will make sure this "limitation" gets noted in the readme for now.

[2015-11-03 20:07] pixelrebel opened #50 "API call to /v1/actionalias fails over HTTPS"
Currently, hubot-stackstorm leverages the built-in http client (`node-scoped-http-client`) to make API calls.  This is separate from the authenticate method which uses the `request` library.  Currently the authentication works over https and returns an auth token.  However, the subsequent API calls fail over https with the error: `unable to verify the first certificate`.  Perhaps it's better to us

[2015-11-03 20:10] manasdk commented on #50
@enykeev Can you take a look? Likely we can make this work with some of the work you are doing in https://github.com/StackStorm/hubot-stackstorm/pull/49

[2015-11-03 21:04] chrisleavoy opened #51 "Default values for aliases don't function as expected"
aliases/roll.yaml:
[code]
Sending:
[code]

Results in:
[code]

Notice how it clobbered the the limit parameter and didn't inject the default.

[2015-11-04 02:10] chrisleavoy opened #52 "Hubot ignores ChatOps commands with parameters that include a dash in the key"
See my note here: https://github.com/StackStorm/hubot-stackstorm/commit/e6a06f190ba5512231686fc9ccc94e592e3fde2f#diff-95dd92bf93762e48697a3823e2d7e7e2R51

[2015-11-04 02:11] chrisleavoy commented on #52
@manasdk thoughts? Can we simply change \w+ to \S+ here?

[2015-11-04 02:13] emedvedev commented on #52
@chrisleavoy thanks for reporting! I'm pretty sure it's safe to use `\S`; I'll test it some time during this week and get back to you.

[2015-11-04 02:40] manasdk commented on #52
Yes \S+ should be safe. But again regexes so who knows :)

[2015-11-04 04:00] chrisleavoy commented on #52
I just read the ActionChain doc, and it mentions: "Variable names can use letters, underscores, and numbers. No dashes! This applies to all variables: global vars, input parameters, DataStore keys, and published variables."

So maybe the issue here is that st2 doesn't error on parameters with a dash in them, like the gotcha implies it should, and the ansible pack needs to be rewritten to convert s

[2015-11-04 05:18] manasdk commented on #52
Under the hood StackStorm uses jinja templating. Often the variables of all sort can end up being useful in a jinja template and in that a dash is really a minus sign causing all sorts of confusing errors. Therefore, we recommend not using `-` as a best practice. Given that it does suggest the ansible pack should perhaps be changed to use `_` instead of `-`.

[2015-11-05 10:50] enykeev commented on #50
This issue consists of two parts:
 - the good thing is that we're moving hubot-stackstorm to st2client.js which means that you would not need to use `NODE_TLS_REJECT_UNAUTHORIZED` in the next minor version of st2
 - the bad thing is that st2client.js basically doing the same thing under the hood and is also vulnerable to MITM

From what I can tell, there's no way to specifically say nodejs to only

[2015-11-05 17:32] pixelrebel commented on #50
Isn't hubot's client (`node-scoped-http-client`) based on `https.Agent`?  If so can we somehow add these options:
[code]
snippet from https://nodejs.org/api/https.html#https_https_request_options_callback

[2015-11-06 05:32] emedvedev commented on #52
I'm going to close the issue because using `-` is indeed incorrect, and it's the Ansible pack that should be reworked, but I'd like to point out that #53 makes the regexes more relaxed(although for a slightly different purpose) and will technically allow it.

[2015-11-06 05:33] #52 closed

[2015-11-24 03:19] emedvedev commented on #11
Closing, not relevant anymore (probably for a long time).

[2015-11-24 03:19] #11 closed

[2015-11-24 03:21] emedvedev commented on #38
Should be working with the current version.

[2015-11-24 03:21] #38 closed

[2015-11-24 10:29] emedvedev commented on #51
Hi Chris,
Sorry it took us a lot of time to look into the issue. We're working on a major chatops overhaul, and as soon as we release the new version of StackStorm, this will be fixed.
This could work as a temporary solution:
[code]

[2015-11-24 10:34] emedvedev commented on #51
That said, Ansible pack still has to be reworked.

[2015-12-09 02:39] emedvedev opened #77 "Hubot doesn't reconnect to the stream on API restart"
A community report. I've run into that issue a couple times, too. Not sure if we should solve in st2client or here.

[2015-12-09 12:42] emptywee commented on #77
Yes, I reported that the other day. Let me know if you need any info from my end if you can't repro it.

[2015-12-09 15:28] emedvedev commented on #77
@emptywee thanks! I can, although not always. This is probably an eventstream module issue: by default a client should attempt reconnects indefinitely, and it looks like the module we use doesn't always do that. Even if it's the case, I think we'll be able to fix it or implement an additional layer of checks on our level.

[2015-12-11 12:55] estee-tew commented on #52
https://stackstorm.slack.com/archives/stackstorm/p1449838496012190

[2015-12-18 01:55] emedvedev commented on #33
This one was fixed some time ago.

[2015-12-18 01:55] #33 closed

[2015-12-18 01:56] emedvedev commented on #51
Fixed as a part of 1.2.0. Note the changes in Ansible alias parameters.

[2015-12-18 01:56] #51 closed

[2015-12-18 16:46] jon-middleton opened #78 "When using the action chatops.post_message Slack notifications display NO FALLBACK DEFINED"
While doing some testing of the ChatOPS interface, I've noticed notifications from StackStorm via hubot to Slack show the following text:

This is due to the fallback part of payload in `robot.emit 'slack-attachment', payload` has not been defined. This really should be a combination of the pretext and the text with no formatting. So that notifications (and systems that do not support attachments)

[2015-12-18 17:00] jfryman commented on #78
@jon-middleton nice! Thanks for the heads up. We'll take a look at it. You don't happen to have a PR with you, do ya? :)

Thanks again!

[2015-12-18 17:04] jon-middleton commented on #78
Afraid not, I just know how it works under the hood from my own modules in Hubot that send to Slack in the recent past.

[2016-01-08 19:18] charlottestjohn opened #79 "Feature Request: Have chatops post_message formatting be toggleable between code / text"
When a message is routed through chatops.post_message, it is automatically prepended with "/code". For our particular use case, we would prefer to have the ability to toggle code on/of

https://github.com/StackStorm/hubot-stackstorm/blob/master/lib/format_data.js#L71

Reasons we want it!
* Ability to change user's karma (hipchat filters out karma changes in code blocks)
* Ability to have the bot u

[2016-01-14 00:44] #79 closed

[2016-02-09 13:16] #45 closed

[2016-02-18 14:41] logic855 commented on #78
I created a small pull request for this problem. @see https://github.com/StackStorm/hubot-stackstorm/pull/89

[2016-02-24 23:43] jmound opened #92 "Parameters are not passed when sending a direct message to hubot via slack"
Using the [docs](https://docs.stackstorm.com/latest/aliases.html#basic) as an example, with this configuration:
[code]
sending as a direct message to hubot via slack (untested on other messaging providers) `google foo` sets `query=foo`. However, sending: `! google foo` does not set `query=foo`

I tested this on 1.3.2. If someone else could verify, that would help.

[2016-02-25 07:28] emedvedev commented on #92
@jmound: that's Hubot's expected behavior: when you use a channel message, you need to show it's meant for Hubot: either with `!`, bot's alias, or bot's username. When you send a DM, none of this is needed and you should just type `google foo`.

[2016-02-25 15:48] jmound commented on #92
@emedvedev Needing the `!` in a channel and not needing it in a direct message is is clear.

However, I'd think that the expected behavior of using `!` in a direct message would be either that it wouldn't trigger an action, or, if it does, query parameters would be passed. Instead, what sending it in a DM does is trigger the task, but without passing the parameters, just because the `!` is present

[2016-02-26 11:43] emedvedev commented on #92
Ok, I get it now :) Was able to reproduce the issue, will make sure to look into it next week. Thanks!

On Thu, Feb 25, 2016 at 9:48 PM, Justin M. <notifications@github.com>
wrote:

[2016-03-02 21:11] ticean commented on #77
Hi there. I'm running a new installation to trial StackStorm and I *think* this issue biting us fairly hard. Anytime the our Hubot loses connection to the StackStorm API it doesn't attempt reconnect and is then running lame. No more StackStorm goodness. I have to manually restart Hubot :(

Is this on the priority to fix? The functionality I've been able to implement quickly is great! But the relia

[2016-03-02 21:16] dzimine commented on #77
Thanks for the report! we will be looking into it, your +1 increments the priority but no committed fix yet.

[2016-03-02 21:34] runseb commented on #38
I just cloned this:
https://github.com/StackStorm/st2workroom

then:

    vagrant up st2

And I see the exact same error. I am trying the slack adapter. Could be a problem in the workroom.yaml file but I could not find a good example.

[2016-03-02 21:40] dzimine commented on #38
Please try with the new packages -
Ubuntu https://docs.stackstorm.com/latest/install/deb.html
RHEL/CentOS https://docs.stackstorm.com/latest/install/rhel7.html
Tested, works.

We are deprecating st2workroom.

[2016-03-02 21:44] runseb commented on #38
So no Vagrant setup ?
I was following a June 2015 blog: https://stackstorm.com/2015/06/08/enhanced-chatops-from-stackstorm/?doing_wp_cron=1456936590.6317980289459228515625

[2016-03-02 22:57] dzimine commented on #38
No, no more "heavy" vagrant setup: but still using vagrant is easy: spin one of the boxes from here https://docs.stackstorm.com/1.3/install/index.html, and either run AIO installer by `curl -sSL https://install.stackstorm.com/ | sudo sh -s -- -r v1.3.2` or go for new package installation, as pointed above. Given our direction to deprecate AIO, I recommend trying the new packages.
There are corresp

[2016-03-03 04:05] emedvedev commented on #77
@enykeev was looking into it some time ago, but it would require a fairly difficult module rewrite. @enykeev: sup?

[2016-03-03 04:50] emedvedev commented on #77
@ticean: did you install with packages or AIO installer? We still have this issue on packages, but AIO should be good.

In short, this error is caused by the stream consumer module not recognizing error 5xx as a reason for reconnect. In AIO we apply a special fix to give stream errors special treatment: https://github.com/StackStorm/st2workroom/pull/303/files

If you chose packages as your install

[2016-03-03 20:49] ticean commented on #77
I installed with AIO installer, but I configured this `hubot-stackstorm` plugin into a pre-existing, non-AIO Hubot installation.

As an underlying problem, I'm finding that the stackstorm nginx instance is stopping (or going zombie) every night. I haven't been able to find out what's scheduled to cause that, but it definitely seems like periodic task. The host is dedicated to stackstorm with AIO.

[2016-03-03 20:53] ticean commented on #77
I should also note that I've customized the HTTPS certs using letsencrypt.  I modified the paths to the certs in `/etc/st2/st2.conf`. At first, I installed a cron to renew the letsencrypt cert. I though this might have caused the issue of nginx stopping. But nginx zombies - even after the letsencrypt task is removed.

I mention this because I haven't used puppet. Maybe there's a convergence schedu

[2016-03-04 08:50] #92 closed

[2016-03-04 08:52] emedvedev commented on #92
@jmound: I've just published `hubot-stackstorm` 0.3.6 which won't have this issue. It had to do with our command-matching regex searching for command in the string instead of matching it.

[2016-03-04 15:16] jmound commented on #92
:+1:

[2016-03-04 15:16] jjm opened #94 "Display formatting that contains []'s {{ }}'s do not load into hubot"
Just noticed an odd problem, the following display formatting works:

[code]

Which displays via hubot as:

[code]
However if you combine `[ ]` with `{{var}}` as follows:

[code]

You get no aliases in Hubot and the hubot logs contain the following:

[code]
It very much looks like parsing of display is happening when you include `{{ var }}` I've always done this as I was following the examples at

[2016-03-06 06:48] emedvedev commented on #94
Unrelated to the bug, wouldn't something like this work better for you instead of defaulting to `0`?

[code]

[2016-03-06 12:35] runseb commented on #38
thanks @dzimine the st2 install worked, but trying to get st2chatops package fails.

following:
https://docs.stackstorm.com/latest/install/deb.html#setup-chatops

`
$ st2 rule list --pack=chatops
/usr/local/lib/python2.7/dist-packages/requests/packages/urllib3/connectionpool.py:791: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification is strongly advised.

[2016-03-06 14:09] #94 closed

[2016-03-07 17:19] emedvedev commented on #78
Fixed by #89.

[2016-03-07 17:19] #78 closed

[2016-03-23 14:53] jjm commented on #77
I ran into this failure to reconnect too just changed over to the new packages and running st2chatops on the same server as the rest of stackstorm. In the short term could be may be make `st2ctl` also restart `st2chatops` too?

[2016-04-14 22:39] roadtrippers-rops opened #108 "Long messages to Slack are truncated"
If `chatops.post_message` is given a sufficiently long message, it is truncated, and its length does not seem to be adjustable. I tested via the [Slack documentation-based tester](https://api.slack.com/docs/formatting/builder), and the full message is retained. It appears to be truncated at some point by hubot-stackstorm.

Setting `ST2_MAX_MESSAGE_LENGTH` had no effect. I believe that is the case

[2016-04-14 22:41] emedvedev commented on #108
Thanks, I'll look into it. Can you elaborate on what's "a sufficiently long message"? How many chars are we talking about here?

[2016-04-14 22:45] jmound commented on #108
[code]
It's a long, somewhat complex ansible run.

[2016-04-14 22:46] emedvedev commented on #108
Thanks! I'll try to reproduce in a couple days and will get back to you. We don't truncate Slack output, so there's probably an implicit limit somewhere.

[2016-04-14 22:48] jmound commented on #108
I tried to verify it was stackstorm doing the limiting by sending it via `curl` to the slack API, but the `@filename` syntax was proving to be too finicky.

[2016-04-16 12:38] emedvedev commented on #108
I looked into it, and it's a truncation on the Slack side. It's exactly 8000 bytes, and it seems that's the most you can send via an attachment. Slack doesn't mention the limit, but I found a reference to it in someone else's code as well: https://github.com/papertrail/papertrail-services/blob/master/services/slack.rb#L36 Weirdly enough, Slack tester also truncates the attachment, but somewhat fur

[2016-04-26 04:48] #108 closed

[2016-05-13 16:53] lmarty opened #113 "Whisper Not Working with Hubot/Hipchat"
Executing a "st2 run chatops.post_message message="test" channel="REDACTED" user="REDACTED" whisper=True" command does not result in a whisper message being sent to the user.  Logs show a successful run.  Executing without the "channel=" value results in error
 "'channel' is a required property for url: http://127.0.0.1:9101/v1/executions"

[2016-05-13 17:06] emedvedev commented on #113
Can you give a command to the bot in a PM and then show me `post_result` output from st2?

[2016-05-13 17:52] lmarty commented on #113
I don't think I understand what you're asking me to do.  If I PM the bot and try to run commands, it does not respond at all.  I am attempting to execute this from the CLI.

The JSON output that it drops is as follows...

 {
  "status": "succeeded",
  "start_timestamp": "2016-05-13T17:08:35.343502Z",
  "parameters": {
    "whisper": true,
    "message": "test",
    "user": "@REDACTED",
    "channe

[2016-05-13 17:53] emedvedev commented on #113
Which command are you trying to run? Can you just try writing `help` to the bot and see if it works? Note that you shouldn't precede the command with `!` or anything else.

[2016-05-23 21:37] lmarty commented on #113
st2 run chatops.post_message message="test" channel="REDACTED" user="REDACTED" whisper=True is the command I am running.  With valid data in the channel= and user= fields.

[2016-05-24 04:55] emedvedev commented on #113
Thanks!

If you PM `help` to the bot (without exclamation mark or an alias), does it respond at all? Is it online? If the bot doesn't respond to `help` or is offline, there might be a problem with the Hubot install, and that would be a slightly different issue to troubleshoot.

[2016-05-24 15:35] lmarty commented on #113
Yes.  The bot responds fine to help and other st2 commands.

[2016-05-25 09:33] emedvedev commented on #113
I'm a bit confused here. You said before:

Anyway, if the bot responds to an st2 command in PM, it should create a `chatops.post_result` execution. Could you please show me the data from that execution and also from its child `post_message` execution?

[2016-05-31 07:58] jjm commented on #77
As discussed on slack yesterday. I ran into this (again), but this time seems to have been caused by the st2stream process having a traceback during log rotation.

[2016-06-01 19:17] lmarty commented on #113
If I am in a hipchat room, and I message my bot (e.g: @bot help), it works fine.  Any other command _issued_ via hipchat works fine.  I am attempting to make the bot whisper message a particular user by executing st2 commands from the stackstorm server itself.  (e.g: st2 run chatops.post_message channel="mychannel" message="this is a test from the robot" user="myhipchatusername" whisper=True)

Thi

[2016-06-01 19:24] emedvedev commented on #113
Yes. If the bot can send you messages in channels, and the bot can send you messages in PM, then the most likely cause for your error is specifying the user name incorrectly (i.e. nickname instead of JID). This is why I'm asking to paste a result of a successful `chatops.post_result` execution here, either from CLI or Web UI: once you replicate the exact parameters the bot does, it should work.

[2016-06-02 17:01] lmarty commented on #113
I think I see where our disconnect is.  The bot cannot send me messages in PM.  That is what I'm trying to get it to do.

Messages from the bot in channels do work fine.
Public @Mentions in a channel to a user from the bot also work fine.
Help and st2 command in the channels the bot reside in work fine
The bot will not respond to help or other commands sent to it via PM

I am _assuming_ that the w

[2016-06-04 08:23] emedvedev commented on #113
Awesome! That should be enough info to proceed.

First of all, let's deal with the commands sent to the bot in PM. Are you trying `!help` or `help`? In private messages, the bot will _only_ respond to `help` without `!` — that's how Hubot works. If `help` doesn't work, the HipChat adapter might be not working for you properly, because the `help` command is built-in and unrelated to StackStorm.

As

[2016-06-06 16:15] lmarty commented on #113
WOOHOOO!!!! We got it!

The trick was, as you said, dumping the users JID into the channel field of the command.

e.g: st2 run chatops.post_message channel="users_jid@chat.hipchat.com" message="test" whisper=True

So part two of this is a feature request.  It would be make this functionality much more useful if there was  a mechanism that takes in a users hipchat name and spits out their JID.

Tha

[2016-06-06 16:15] #113 closed

[2016-06-06 16:20] emedvedev commented on #113
Awesome! Glad to know it's resolved.

The feature request part is very reasonable, we'll try to make working with HipChat (and the whole `post_message` action) easier to use, but I can't give an estimate yet. It is definitely in our plans.

[2016-06-16 17:14] manasdk opened #114 "Refactor alert!"
https://github.com/StackStorm/hubot-stackstorm/blob/master/scripts/stackstorm.js needs to be broken out. The temptation to dump more things into 1 file should be avoided at all cost. If nothing else modularization help with writing more tests.

[2016-06-29 12:04] armab opened #118 "Bot and Private Messages"
![](https://i.imgur.com/OApIt6V.png)
The screenshot demonstrates what I mean.
This behavior is documented somewhere, but I found it not so user-friendly.

I think that bot should react in PM for the same commands as user writes in channel *AND* optionally, if you think it makes good sense, for commands without alias (eg. `!`).

----
Tiny things to provide more obvious and predictable communication

[2016-06-29 12:12] emedvedev commented on #118
That's something that has been discussed before. I get this question every once in a while, so there's even a large blue note in the docs here: https://docs.stackstorm.com/chatops/chatops.html#bring-your-own-hubot

While I can agree it's not very user-friendly, it's default Hubot behavior and there's no easy way to override it since we don't fork and maintain our own Hubot branch. Hacking `hubot-s

[2016-06-29 12:21] armab commented on #118
Thanks, that clarifies everything.

Should I close it or maybe you can set `wontfix` tag, to make it "Known" and avoid others opening duplicated Issue?

[2016-06-29 12:23] emedvedev commented on #118
Yep, let's go with `wontfix`. Thanks!

[2016-07-06 02:50] lvdongbing opened #119 "Unable to load stackstorm"
When starting st2chatops, it fails with following errors:
ERROR Unable to load /opt/stackstorm/chatops/node_modules/hubot-stackstorm/scripts/stackstorm: TypeError: Object prototype may only be an Object or null
  at Function.create (native)
  at module.exports (/opt/stackstorm/chatops/node_modules/st2client/index.js:122:17)
  at module.exports (/opt/stackstorm/chatops/node_modules/hubot-stackstorm

[2016-07-06 04:34] LindsayHill commented on #119
Could you provide a bit more info about your environment? OS, versions of `st2`, `st2chatops`

How did you configure this system? Did you use the scripted installation, or manual package install?

[2016-07-06 07:17] lvdongbing commented on #119
OK. My OS is Ubuntu1404, st2 is1.5.0 and st2chatops is 1.5.0-2. I configured the system via manual package installing.

[2016-07-06 10:07] armab commented on #119
@lvdongbing What's your `node.js` version?
[code]

[2016-07-07 00:50] lvdongbing commented on #119
@armab v0.10.25

[2016-07-07 02:33] LindsayHill commented on #119
See the "Setup ChatOps" section of the Installation docs https://docs.stackstorm.com/install/deb.html#id14

You should have done this as part of your setup:
[code]
That should give you a result like this:
[code]

[2016-07-07 05:44] lvdongbing commented on #119
@LindsayHill Oh, that works for me, thank you!

[2016-07-07 06:14] LindsayHill commented on #119
Good to hear it's working

[2016-07-07 06:14] #119 closed

[2016-07-07 10:26] armab commented on #119
cc @Kami, you asked before what error it was with node `0.10` in https://github.com/StackStorm/hubot-stackstorm/pull/117#issuecomment-228108217

[2016-07-11 19:27] armab opened #120 "Expose Execution URL as a variable"
In some previous ChatOps version the URL with results was [always included](http://i.imgur.com/IT2EDcn.png) in message:

In the new and more flexible ChatOps version with formatting and everything it's missing now.

Some tasks could be really long-running and having full execution URL would be nice, so user can include it with own formatted `result` message (Jinja2 stuff in Action Alias). Ideally

[2016-07-11 20:33] emedvedev commented on #120
That's reasonable. Just wondering: the link in the `ack` message isn't enough for your case, or did you find it was better to disable the link / entire ack?

[2016-07-11 21:23] armab commented on #120
Yeah, the case is a long-running task, when `ack` with link appears in chat immediately, but the actual `result` can appear in chat after several minutes of execution.

So link in `ack` is not enough.

[2016-07-12 07:13] Kami commented on #120
Yeah, if possible I think having execution URL in the context which is available to the message would be nice.

[2016-07-15 17:30] armab opened #121 "Problem with @mention in Slack"
When `result` message from the bot contains attachment, `@mention` doesn't work in Slack:
### Good

![](https://camo.githubusercontent.com/12d73d69dae6d907bde1739a2b89bf3a55c71bdd/68747470733a2f2f692e696d6775722e636f6d2f6d435948464d362e706e67)

### Bad

![](https://camo.githubusercontent.com/3f00fed4891a858ac5a37371c38e6a4652e1aca5/68747470733a2f2f692e696d6775722e636f6d2f6f6c4a515766582e706e67)

-

[2016-07-21 13:30] armab opened #123 "Feature Request: Action executed in: Xsec"
There are long-running actions like deploy, provision, VM creation and so on, - all pretty popular ChatOps citizens. Showing how much time did it take to execute an action would be great.

Add action execution time as jinja variable, so it could be used in `result` templating:
![](https://i.imgur.com/49Pq4Og.png)

Also, from the user's side it would be nice to have _optional_ way to pretty-format

[2016-08-08 20:48] vaishalipavashe opened #126 "Trace - Unable to execute action with 'trace-tag' from Slack"
Steps with screenshot:
- Created alias to execute local commands from Slack:
![image](https://cloud.githubusercontent.com/assets/10110869/17495479/33241422-5d87-11e6-986c-9a313ca15f91.png)

- Restarted st2 services and chatOps
- I can execute command without trace-tag:
![image](https://cloud.githubusercontent.com/assets/10110869/17495532/672166e4-5d87-11e6-875e-130e0d6eeacc.png)

- But it fails wi

[2016-11-01 12:46] armab commented on #123
Implemented in https://github.com/StackStorm/st2/pull/2856 and https://github.com/StackStorm/st2/pull/2829

Usage in ChatOps Aliases: [`{{ execution.elapsed_seconds | to_human_time_from_seconds }}`](https://github.com/armab/st2-chatops-aliases/pull/11)

[2016-11-01 12:46] #123 closed

[2016-11-07 06:04] JJediny opened #128 "Authentication/Authorization options are unclear"
### User Story
As a privileged user (ops/sysadmin) I want to be able to apply one off commands (for debugging/fixes) and/or apply/run my configuration management solution through Chatops. At the same time I want to grant read only or a layer of both authentication and authorization to other stakeholder but at the same time restrict all calls to the bot and/or list which commands unprivileged users

[2016-11-08 15:54] emedvedev commented on #128
Hi!

First of all, thank you for the thoughtful description—I appreciate you taking the time to write the user story in detail, and also review our codebase!

Our relationship with ChatOps auth is, admittedly, complicated. Since it's an often-requested feature, I'll try to answer your questions in as much detail as possible, expand on them, and provide some additional context for future reference.

[2016-11-21 16:46] pbialasiewicz opened #129 "Cannot change the URL in st2 bot information."
I'm not able to change the URL in st2 bot info.
After modifying  the ST2_WEBUI_URL to a static ip in st2chatops.env and modifying webui_base_url in st2.conf and doing a st2ctl restart. The link still point to the hostname instead of the static value.
OS: Linux version 3.13.0-100-generic (buildd@lgw01-52) (gcc version 4.8.4 (Ubuntu 4.8.4-2ubuntu1~14.04.3)
This is a single node install using the cur

[2016-11-21 17:14] armab commented on #129
I could reproduce it.

`ST2_WEBUI_URL` in `st2chatops.env` doesn't work at all.

It happens because `st2.conf` [`webui_base_url`](https://github.com/StackStorm/st2/blob/master/conf/st2.package.conf#L57-L58) defaults to current machine [`hostname`](https://github.com/StackStorm/st2/blob/733a0524999de2383901a10678bbaf9e54e44885/st2common/st2common/config.py#L98-L101).

And because `webui_base_url` i

[2016-11-21 17:27] pbialasiewicz commented on #129
It worked.
Just remember to unncomment the [webui] along with [webui_base_url] in st2.conf.
And if you want to make this change without killing all running jobs just do a `service st2api restart`

[2016-11-21 18:03] armab commented on #129
So this is definitely a bug, because `ST2_WEBUI_URL` is noop, just doesn't work.

I think there are 2 options:

1) Deprecate `ST2_WEBUI_URL` from `st2chatops.env` to avoid confusion and use `webui_base_url` from `st2.conf` only.

2) `ST2_WEBUI_URL` env will have priority over `webui_base_url` from `st2.conf`.
We comment it in [`st2chatops.env`](https://github.com/StackStorm/st2chatops/blob/373cbac

[2016-11-21 19:46] armab commented on #120
So this is implemented and available via Jinja variable `{{ execution.web_url }}` in ChatOps alias

See:
https://github.com/StackStorm/st2/blob/ed6fdb4043647b766551c25f365782a58abce019/contrib/chatops/actions/templates/default.j2#L17-L19

[2016-11-21 19:46] #120 closed

[2016-12-10 15:52] armab commented on #128
@emedvedev answer here is very helpful, so I renamed Issue title for better search.
Maybe it worth to move it to separated readme page or even blog.

But for now leaving it opened as a great piece of information.

[2017-02-09 16:07] silverbp commented on #128
hubot-rbac isn't going to work because they rely on the listener id in hubot to perform the authorization. In stackstorm, all commands are funneled into one listener with a broad regex which then further matches it to a stackstorm command from there. I assume this was done to support reloading the commands on the fly.

[2017-03-02 04:21] silverbp commented on #128
I created a fork, which is heavily refactored here: https://github.com/silverbp/hubot-stackstorm. I pulled the 2FA stuff out for now as well as the ability to reload commands. The refactor though does register each command as a separate ID allowing hubot middleware plugins to work better with it such as hubot-rbac. I intend on adding the 2FA and reloading of commands back in as well as fixing up t

[2017-03-02 14:22] emedvedev commented on #128
Awesome job! Please let us know how we can help, and keep us posted :) As soon as you add the missing functionality back, we can help with tests and such.

[2017-03-06 15:15] silverbp commented on #128
I'm going to create a pull request so we can track it from there, I have some questions. I've also switched to using hubot-auth and hubot-middleware-auth-ext since the hubot-rbac is deny only. I have it working where you can set the roles and possibly rooms in the action-alias and hubot-stackstorm picks it up.

[2017-07-20 21:53] lakshmi-kannan opened #137 "hubot-slack 4.x API has changed. SlackPostDataHandler needs to use new APIs."
https://github.com/slackapi/hubot-slack/pull/355/files

Related: https://github.com/StackStorm/st2chatops/pull/78
https://github.com/StackStorm/st2/issues/2896

[2017-08-17 14:19] armab commented on #121
Switching to new version of `hubot-slack` adapter https://github.com/StackStorm/hubot-stackstorm/pull/138 will fix this issue.

[2017-08-17 14:56] #121 closed

[2017-09-14 13:56] armab commented on #137
Fixed since st2chatops v2.4.0 https://github.com/StackStorm/st2chatops/pull/78

[2017-09-14 13:56] #137 closed

[2017-09-28 14:13] Kami opened #142 "All the alias matching should be performed on the server"
Right now hubot plugin basically duplicates all the API logic for alias matching. That's bad because hard to maintain and error prone.

StackStorm API offers all the primitives for performing alias matching and everything else server-side. All the bot plugins should be very thin and simple wrappers around the API and be trivially to maintain (right now it's exactly the opposite).

That's something

[2017-10-07 14:51] shusugmt opened #143 "Update st2client.js to support customizing st2stream url"
Currently, URL for st2stream is fixed to `$ST2_API/stream`

This is not ideal if running 1ppc mode in st2-docker because without that, st2chatops need to rely on st2web container running nginx which proxies `/api/stream` to st2stream backend.

[2017-10-09 13:13] armab commented on #143
:+1: for a configurable env var, similar to existing [`ST2_AUTH_URL`](https://github.com/StackStorm/st2chatops/blob/9de21f73beba4d0ff1e106958a80f5d33a2053ef/st2chatops.env#L26).

[2017-11-06 12:21] shusugmt commented on #143
@armab I just opened PR for this. Can you please check it?

[2017-11-06 19:24] alisson276 opened #145 "source_channel need to be string and not integer"
If the source_channel is not a String, like Telegram, the POST in /api/v1/aliasexecution fail with message:

[code]

My workarround is edit the file scripts/stackstorm.js and set:

[code]

[2017-11-08 17:19] vincent-legoll opened #149 "Help on an alias with parameters shows misleading jinja delimiters"
I defined a chatops alias like that:
[code]
and in the slack channel, when I ask for help, i get that:
[code]

I think the jinja delimiters `{{` and `}}` should be strippped from the help output, since they are misleading my users who just copy/paste them...

The `(|)` enabling choice, is less problematic to grasp, apparently...

WDYT ?

[2017-11-08 17:36] armab commented on #149
`formats` is machine-friendly and could be not readable by humans.

`display` format https://docs.stackstorm.com/chatops/aliases.html#display-representation-format-objects is an addition to that for human-readable `!help` response.

[2017-11-09 08:35] vincent-legoll commented on #149
Yes, you're right, sorry for the noise.

[2017-11-09 08:35] #149 closed

[2017-11-09 14:06] armab commented on #149
No problem!

[2017-11-16 19:27] thefossgeek opened #150 "StackStorm with Hubot adapter for botframework"
Microsoft has posted a Bot Framework Hubot adapter[1]. Have anyone manage to actually get hubot connected with MS teams?

I am looking forward StackStorm integration with MS team using Bot Framework Hubot adapter.

[1]. Hubot adapter for botframework: https://github.com/Microsoft/BotFramework-Hubot

[2017-11-16 19:29] thefossgeek commented on #150
Here is discussion about Hubot for Microsoft Teams: https://github.com/hubotio/hubot/issues/1260.

[2017-11-23 00:07] shusugmt commented on #143
#144 solved this.

[2017-11-23 00:07] #143 closed

[2017-11-30 07:02] SURAJTHEGREAT opened #151 "Support for "Button attachments""
I am not able to send the message with button attachments. If I send simple message{non-attachment message} its working fine. If i send message with extra param from the stackstorm the message is not getting displayed in the channel.

If I have changed the line 137 in **post_data.js** under **lib** folder from **attachments: content**  to **attachments: content.attachments ? content.attachments :

[2017-11-30 13:18] armab commented on #151
Without digging into the code, logically your code suggestion looks safe.

Can you open a PR with mentioned changes in `post_data.js`? And someone will review it and hopefully that would be included in hubot-stackstorm.

[2017-12-01 05:02] SURAJTHEGREAT commented on #151
@armab : We are facing error **remote: Permission to StackStorm/hubot-stackstorm.git denied to SURAJTHEGREAT.** when trying to git pull the repository. Could you please provide access for the same.

[2017-12-01 06:15] arulvelu21 commented on #151
@armab : We have created fork method as well to create a pull request. Currently it is showing in pull request under the heading "Button attachement fix for mattermostuser" . But the build Travis CI is getting failed.Please assist.

[2018-01-26 21:27] cognifloyd commented on #128
@armab said in slack (talking to @namachieli):

My usecase:
I'm part of a Network Operations Center. StackStorm is used to run ops tasks (via ansible) on servers that are distributed at our client locations. Each location has a server and a lot of IoT devices.
I need to give the customer support team access to run a select set of well-defined tasks that are useful in diagnosing (in real-time) what

[2018-04-15 06:56] shreyas-shinde opened #156 "Want to load commands only for specific pack aliases"
This is issue which i solved. This is just info sharing. Please close this issue.
Currently stackstorm.js script loads all enabled aliases of all packs installed in st2. For scaling of hubot necessary to restrict specific packs to specific hubot instance. I might send PR if i have time but basically i did below changes to stackstorm.js . Hope its helpful for someone. Concept is inspired from new e

[2018-05-03 18:06] armab commented on #145
It looks like we don't support Telegram in `st2chatops` yet, according to https://github.com/StackStorm/st2chatops/blob/4547240069906c1ea5411068183fa22c434559f1/package.json#L8-L23
It might work, but none tested it.

For so simple code change you might open a PR in this repo.
It looks like StackStorm API is expecting a string for a channel, so type casting int to string should be safe.

[2018-05-09 19:50] nmaludy opened #157 "st2chatops is not reconnecting when auth token expires"
After a period of time st2chatops auth token expires and an error is seen in the logs:

[code]

After this, the bot responds with ACKs but any `chatops.post_messages` are not echo'd into ChatOps because it is no longer able to listen on the stream.

For more details and explanation please see the original issue here: https://github.com/StackStorm/st2/issues/4119

[2018-05-09 19:52] nmaludy commented on #157
It looks like the line of code that's printing that to the logs is here: https://github.com/StackStorm/hubot-stackstorm/blob/998141c83c251fe9eee1cb0eeb2e9c21e377691d/scripts/stackstorm.js#L382

Maybe there needs to be some retry logic in there to handle a 401 and re-auth?

[2018-05-24 11:08] NikonNLG commented on #157
@nmaludy why you don't generate api key and use it without expiration? `st2 apikey` and `export ST2_API_KEY` should help you

[2018-06-25 09:59] shreyas-shinde commented on #157
I have seen that error even with ST2_API_KEY . In this case there is not even  "status: 401"
[Mon Jun 25 2018 09:54:50 GMT+0000 (UTC)] INFO 46 commands are loaded
[Mon Jun 25 2018 09:55:01 GMT+0000 (UTC)] ERROR Stream error: Event { type: 'error' }
[Mon Jun 25 2018 09:55:32 GMT+0000 (UTC)] ERROR Stream error: Event { type: 'error' }
[Mon Jun 25 2018 09:55:45 GMT+0000 (UTC)] ERROR Stream error: Eve

[2018-07-20 06:02] mmihir82 commented on #24
Hello @manasdk I'm running into similar issue, I checked the `post_result.py` there isn't pyaml configured. Here is the output from slack message.
<img width="499" alt="screen shot 2018-07-19 at 9 59 13 pm" src="https://user-images.githubusercontent.com/16388555/42985652-41bd3162-8ba7-11e8-803c-08f857075778.png">

When I run the `st2 run test.getint_workflow` I have created mine own, which calls a

[2018-07-20 14:54] LindsayHill commented on #24
Commenting on a closed issue often gets missed. Better to open a new issue.

That said, you may need to use something like https://github.com/StackStorm/st2_demos/blob/master/actions/workflows/link_flap_remed_workflow.yaml#L71

You should also think more about formatting your output nicely, rather than the default result display. Format it properly, using things like ``` around the fixed-width out

[2018-07-30 15:10] armab commented on #151
Implemented in https://github.com/StackStorm/hubot-stackstorm/pull/152

[2018-07-30 15:10] #151 closed

[2018-08-17 23:29] mbrannigan opened #158 "Not all aliases reaching hubot-stackstorm"
We have approximately 135 aliases:

[code]

Not all of them are being made available to hubot.

When dumping `Raw actions from ST2 API` during `loadCommands` in `/opt/stackstorm/chatops/node_modules/hubot-stackstorm/scripts/stackstorm.js`, it was determined that about 100 aliases were making it.

[2018-08-17 23:30] mbrannigan commented on #158
@blag thanks for helping out with this!  If you need any attachments / additional information, please let me know.

[2018-08-17 23:37] LindsayHill commented on #158
I have a strong suspicion that this is the same fundamental issue as https://github.com/StackStorm/st2/issues/4034

Changing https://github.com/StackStorm/st2/blob/master/conf/st2.conf.sample#L34 _might_ work.

[2018-08-17 23:55] mbrannigan commented on #158
Updated `st2.conf` to set `max_page_size` to `300` in the `api` section and restarted st2 with `st2ctl restart`.

https://gist.github.com/mbrannigan/1a0919e8d488402be6048092ccdb4d9a

`unpause` still isn't listed.

[2018-08-18 00:02] mbrannigan commented on #158
After cleaning up the gist a bit:

[code]

Validates that `unpause sidekiq` is still not listed.

[code]

148 aliases now listed during `loadCommands`

[2018-08-20 21:55] LindsayHill commented on #158
Validated, this is related to:
https://github.com/StackStorm/st2/issues/4034

The "148" number is a red herring. There are 100 **aliases** returned, but those aliases have an average of > 1 format per aliases. So counting _formats_ gives us 148 unique formats, but there are really only 100 aliases.

Proper fix requires proper pagination handling with st2client.js

[2018-08-20 22:06] mbrannigan commented on #158
The following shows the number of aliases returned by the API

[code]

[2018-08-20 22:46] mbrannigan commented on #158
I updated [actionalias.py](https://github.com/StackStorm/st2/blob/master/st2api/st2api/controllers/v1/actionalias.py#L59) to default the limit to 500 in the meantime.  The missing aliases are now showing up.

[code]

[2019-01-28 15:21] mbrannigan commented on #158
Any update on adding pagination?

[2019-02-20 12:14] shreyas-shinde opened #161 "Support responding in thread (Slack)"
Hi,
I want to confirm if there is plan to support sending response from stackstorm to the command originating thread. Acknowledgement message from Hubot is sent in the same thread but response from chatops.post_message action is sent to channel instead of thread.

[2019-02-20 12:23] shreyas-shinde commented on #161
Proposal Solution:
1. Set thread id here https://github.com/StackStorm/hubot-stackstorm/blob/master/lib/utils.js#L113
2. Send it to stackstorm by including here https://github.com/StackStorm/hubot-stackstorm/blob/master/scripts/stackstorm.js#L294
3. Update chatops.post_message to support thread_id param similar to channel https://github.com/StackStorm/st2/blob/master/contrib/chatops/actions/post_m

[2019-02-20 13:58] LindsayHill commented on #161
I don't think anyone else has any plans to work on that, so go ahead and create a PR. The main thing to be aware of is not breaking non-Slack chat adapters.

[2019-02-20 18:39] blag commented on #161
Yes, I would be interested in a PR for this.

[2019-02-21 13:08] nzlosh commented on #161
@shreyas-shinde since this is a Slack specific feature, is it possible to use the `extra.slack` parameter to for `chatops.post_message` rather than adding a non-generic parameter `thread_id`?

[2019-02-21 22:34] lingfish opened #162 "chatops.post_message seems to be ignoring Slack pretext"
Originally logged here: https://github.com/StackStorm/st2/issues/4561, @nzlosh suggested I might re-log it here.

##### SUMMARY

`chatops.post_message` seems to be ignoring Slack `pretext`.

##### ISSUE TYPE
Pick one below and delete the rest:
 - Bug Report

##### STACKSTORM VERSION
st2 2.10.1, on Python 2.7.6

##### OS / ENVIRONMENT / INSTALL METHOD
Standard docker install.

##### STEPS TO REPROD

[2019-02-21 22:55] blag commented on #162
Is the rest of the Slack message appearing? With the correct color, title, title link, author, author link, author icon, image, and fields?

[2019-02-22 01:20] lingfish commented on #162
Yes, certainly is (sorry, should have mentioned that).

[2019-02-27 08:47] lingfish commented on #162
Any thoughts here?  Anything I can do to help?

[2019-02-28 10:09] blag commented on #162
I don't think your usage of the `slack` key in the `extra` parameter is correct, or more to the point, I don't think you are using the `pretext` key correctly.

TL;DR: I think you are interpreting Slack's API incorrectly.

In the linked st2 issue, the following `extra` parameter data is verified as working correctly with Mattermost (which copies Slack's attachments API):

[code]

Note the `attachm

[2019-03-01 00:29] nzlosh commented on #162
@blag Requiring `attachments` isn't consistent with StackStorm ChatOps documentation https://docs.stackstorm.com/chatops/aliases.html#passing-attachment-api-parameters-slack-only

You can see in the example that `extra.slack` doesn't not contain the `attachments` key, but starts with keys `color`, `fields` and `image` directly below `slack`.

I assume the Mattermost adapter code handles things dif

[2019-03-01 01:39] lingfish commented on #162
Yeah, basically what @nzlosh said.  The CLI example I originally pasted is actually from an example somewhere in the st2 repos, but that said, the doco does indicate that using:

[code]

Uses attachments in the "backend" when sent to Slack.

An example of my trigger instance (which clearly shows up as a card/attachment in Slack):

[code]

[2019-03-13 21:44] lingfish commented on #162
Hi @blag, any further thoughts here?

[2019-04-15 23:14] blag commented on #162
@lingfish Can you find where the docs stated to use `slack_extra`? That's definitely a bug in our documentation.

Regarding how to us attachments with Mattermost, using `extra.mattermost.attachments` should work:

* https://github.com/StackStorm/hubot-stackstorm/blob/master/lib/post_data.js#L284
* https://github.com/StackStorm/hubot-stackstorm/blob/master/lib/post_data.js#L306

Can you see what da

[2019-04-15 23:17] blag commented on #150
Initial support for ChatOps response/reply is incoming in StackStorm 3.0. Adding end-to-end tests with MS Teams and supporting `chatops.post_message` should be complete in StackStorm 3.1.

[2019-04-16 02:03] lingfish commented on #162
Ok, so a few confusing things going on here, including from me ;)

Firstly, I'm using Slack, not Mattermost.

Secondly, the payload being sent is actually this:

[code]

Not what I pasted above; there is no `slack_extra` -- sorry about that!  I must have gotten confused, because I have a rule that looks like this:

[code]

My sensor sends that extra data using `self._sensor_service.dispatch`.

In

[2019-04-16 04:17] blag commented on #162
Sorry for the confusion regarding Mattermost vs. Slack!

## Unfortunately ##

I think you have found a bug in our documentation. This statement from our documentation:

is not 100% true. The dictionary that is passed to the Slack Attachment API is NOT passed as-is, it is completely mangled by the hubot-stackstorm Slack adapter.

## But there is still hope! ##

There are two paths in the Slack adap

[2019-04-18 07:37] stiewie33 opened #165 "Disable DM"
Hey guys, - newbie here.. is there a way to disable direct messaging hubot on slack to run commands? Would like to keep all comms in a specific channel.

[2019-04-19 19:20] armab commented on #165
It depends on Hubot Adapter you use. Some may have this specific functionality, some may not.

See https://github.com/hubotio/hubot/issues/1356

Also in theory, it might be possible to implement it, after looking at https://github.com/slackapi/hubot-slack/issues/339

Contributions are welcome here!

[2019-04-22 02:59] lingfish commented on #162
Love it, thanks @blag!  That was the most epic and awesome dev issue comment I've read :)

Pity about the constraints though.  I'll try your suggestion soon.

Meanwhile, Slack are at it again, improving etc.  Now they have a thing called blocks.  Perhaps if/when this project moves to it, that non-breaking change can be implemented.

[2019-05-02 08:14] lingfish commented on #162
Hi again @blag ... So, I've tried it as suggested and hit a bit of a wall.  It seems that no jinja parsing is done, if done as above?

[code]

It seems to have just `pprint`'d the Python representation of the list of dicts?

I've tried variants using `to_json_string` and yaml, no difference.

Thoughts?

[2019-05-06 23:00] lingfish commented on #162
Pinging @blag 😉

[2019-05-07 17:31] blag commented on #162
@lingfish Can you post your entire alias (feel free to redact/change any sensitive information)? It's difficult to troubleshoot when I don't know what you've written.

[2019-05-08 02:52] lingfish commented on #162
Do you mean my rule?  There is no alias.  If rule, here it is:

[code]

[2019-05-08 22:03] blag commented on #162
I'm having a hard time reconstructing what you are doing. Can you post a snapshot of everything you have right now?

Attempting to reconstruct what's going on...

[code]

^ This appears to be the data that is being passed into `chatops.post_message`. Is that correct?

So if this is your rule YAML (copied/pasted from above):

[code]

It would stand to reason that your trigger data is:

[code]

Whic

[2019-05-09 04:41] lingfish commented on #162
Sorry, you're right, more data needed from me.

Ok, so... the rule above is right.

Heavily redacted below, but done carefully to not lose quotes etc.

Yes, that's the data that is being passed into `chatops.post_message`.  Here is the action output:

[code]

Here is the trigger instance:

[code]

So the trigger instance data looks like an object to me... but as stated above, the `attachments` fie

[2019-05-09 06:38] blag commented on #162
Can you post the YAML metadata file for your sensor?

[2019-05-09 06:51] lingfish commented on #162
Sure, for this though you'll need non-redacted fields, right?

[2019-05-09 08:50] blag commented on #162
You are welcome to either redact field values (use your best judgment on that) and post it here or you can DM me via our [Slack community](stackstorm-community.slack.com) (I'm also blag on that).

[2019-05-09 23:52] lingfish commented on #162
Alright, so upon trying to modify the sensor schema, I get an error for `object`, and noticing it's technically an array, tried that too.

[code]

When specifying array, it just goes through again as a string :(

[2019-05-10 00:08] lingfish commented on #162
Also just for fun, from the sensor I've send an object `{}` instead of an array of objects, changed the schema accordingly, and it passes, but still just a flat string.

[2019-05-13 18:04] cognifloyd commented on #129
I just ran into this in 2.9.1

[2019-05-13 23:04] cognifloyd opened #166 "Use new slack "blocks" instead of "attachments""
"attachments" is now legacy. I'm filing this issue so that this is on the radar to figure out what that means for our hubot.

https://api.slack.com/reference/messaging/blocks
https://api.slack.com/reference/messaging/attachments#legacy_fields

Playing around, I can use do something like:
[code]
however, this failed
[code]
Other stuff might be broken as well.

[2019-05-14 00:34] blag commented on #166
It looks like `attachments` is still used, but there are simply some deprecated keys for each attachment, and a new `blocks` key within the `attachments` object to replace the deprecated functionality.

When you say it's "broken", what do you mean? Are there any hints in the st2chatops logs?

[2019-05-15 21:22] blag commented on #162
Okay, so since the data being passed to `chatops.post_message` is a string, it appears that that is not the cause of the issue.

The issue is farther back in the trigger chain - in the rule itself. Because of that, this bug is in the st2 project itself and the original issue StackStorm/st2#4561 is the proper place to handle this.

@lingfish Is that acceptable to you? Sorry to push you back over to

[2019-05-15 21:27] blag commented on #156
It's possible to simply disable aliases individually, and I think that might be the "proper" way to do this.

Is there a particular reason you want to disable all aliases on a per-pack basis? Since this is already possible to do for individual aliases, this feature is a "nice to have", and we probably won't be able to put resources to it for awhile. We would be happy to review PRs implementing thi

[2019-05-16 04:35] cognifloyd commented on #166
By broken, I mean that if I include an actions type element in the list of blocks, it does not render in slack.

[2019-05-16 04:46] cognifloyd commented on #166
It's not deprecated, but it is legacy until they can get blocks ready enough to deprecate it.

A quote from [Creating rich message layouts](https://api.slack.com/messaging/composing/layouts#secondary-attachments)

And the [most thorough advice](https://api.slack.com/messaging/composing/layouts#when-to-use-attachments) that basically says it's deprecated even though it's not deprecated...

And the

[2019-05-16 08:34] blag commented on #166
I think we're talking past each other. The new `blocks` thing is just an object that goes in the `attachments` array, so semantically blocks are simply a special type of attachments. The `attachments` array is not going away.

Is there anything useful in the logs when it fails? Does _anything_ show up in Slack when you try to use `blocks`? It's a little difficult to debug something when the only i

[2019-05-16 10:54] armab commented on #156
Here is related feature request about enabling/disabling specific pack content (incl. `aliases`) on st2 core level: https://github.com/StackStorm/st2/issues/3973

Filtering specific Aliases on Hubot level might be less popular functionality, comparing to ^^ that.

[2019-05-22 11:12] surfer190 commented on #145
I can confirm that this works!

[2019-05-22 11:30] surfer190 commented on #145
I've noticed an issue where special characters cause an error when interacting with telegram.

[code]

I think if we can fix this it will go a long way towards telegram support

[2019-05-24 13:29] armab commented on #150
Just a confirmation update that Microsoft Teams was indeed added in StackStorm v3.0:
https://stackstorm.com/2019/04/29/its-here-stackstorm-3-0/

Feel free to use it and share your feedback or issues.

[2019-05-24 13:29] #150 closed

[2019-06-06 08:15] blag commented on #77
@armab I just stumbled across [reconnecting-eventsource](https://github.com/fanout/reconnecting-eventsource). It looks like it has most of the logic we would need to implement to have hubot consistently reconnect to st2stream. What do you think of using that instead of the built-in `EventSource` in `stackstorm.js`?

[2019-06-06 12:50] armab commented on #77
@blag Seems like `eventsource` is used on [`st2client` side](https://github.com/StackStorm/st2client.js/blob/master/lib/mixins/streamable.js).
I would try to reproduce and debug the issue itself first, trying to understand what's going on behind the hood.

For example, https://github.com/fanout/reconnecting-eventsource#when-does-the-normal-eventsource-not-reconnect advertises to reconnect on `5XX`

[2019-06-10 18:52] jinpingh commented on #77
@armab @blag Installed system `st2 3.0.0, on Python 2.7.12`.
With commands
[code]
Or stop all above services at once then start, `st2chatops` is reconnected without issue.

[2019-06-13 22:27] blag commented on #158
Sorry for the errant status update. Actually, this isn't yet fixed. We have a few more things to do before this fix is published in a release:

1. make a few more changes to st2client.js
2. publish st2client.js version 1.1.2 to NPM and GitHub
3. update hubot-stackstorm changelog, which should re-kick Travis tests and ensure #176 passes tests
4. merge in a few more changes to hubot-stackstorm
5. bu

[2019-06-20 20:06] armab commented on #157
I've set the `token_ttl` in `st2.conf` to some short time and couldn't 100% reproduce the bug with st2 `v3.0.1`.

I've found that sometimes token re-request failed, however bot was successfully able to recover itself after a couple of token retries (happens every 2mins by default):
[code]

There is a diff in my log, you can find there that I didn't experience Stream errors as it shows in original

[2019-06-20 20:19] armab commented on #157
Could reproduce it now with the following logic:
- start hubot
- stop st2stream
- expire ST2_AUTH_TOKEN
- wait a little
- start st2stream
  - observe 401 from stream in logs
- bot doesn't respond in Slack anymore, however everything pretending to be "working ok"

[2019-06-20 22:07] #158 closed

[2019-06-20 22:11] mbrannigan commented on #158
Thank you so much for the work that was put into this.  I really do appreciate it!

[2019-06-24 21:58] jinpingh commented on #50
Have tested this issue on u16 with version `st2 3.1dev (8cffe7f), on Python 2.7.12` and could not duplicate issue.

Set `ST2_AUTH_URL` to use https , `ST2_AUTH_USERNAME`, and `ST2_AUTH_PASSWORD`, and unset `ST2_API_KEY`.  After `st2chatops` is up to running,  subsequent API calls are passed. From `st2chatops` log, there is no error message for `unable to verify the first certificate`.

Tested setu

[2019-06-24 23:15] #50 closed

[2019-06-25 23:51] armab commented on #77
@jinpingh Take a look at one edge case example of this: https://github.com/StackStorm/hubot-stackstorm/issues/157#issuecomment-504168117

[2019-06-26 11:03] #157 closed

[2019-06-28 22:18] jinpingh opened #182 "st2chatops exits because command doesn't match format string"
Version: st2 3.1.0, on Python 3.6.8

Duplicate:
With default action alias `!pack get <pack>`. If run `!pack get pack=example`,  the `st2chatops` exits with exception.
[code]

[2019-06-28 22:50] armab commented on #182
Comes from https://github.com/StackStorm/hubot-stackstorm/blob/c692c6e341f436c32b46a4698b2c88b2a9202728/scripts/stackstorm.js#L293-L316

It could be https://github.com/StackStorm/hubot-stackstorm/pull/172 when previous chatops version considered that `throw` as non-critical and recovered/self-healed by looping further as nothing happened.

[2019-06-28 23:10] #182 closed

[2019-06-29 00:36] blag opened #184 "Add tests for #182/#183"
#182 was a regression, but we should add a test for that so we don't regress again in the future. Opening this issue to track the status of that.

[2019-06-29 21:37] armab commented on #184
Yeah, having those ^^ changes minimal/granular as possible still hit the regressions. I'm afraid to think what would happen with multiple changes coming in https://github.com/StackStorm/hubot-stackstorm/pull/168.

Minimally, something along the lines would be useful to test:
- `Nock` the failing HTTP response from ST2 API. Ensure that function doesn't throw and that hubot doesn't exit.
- Additiona

[2019-06-29 21:54] blag commented on #184
@armab Yep, I think we all made the right call (thanks to you).

If we need to check the output we should simply make it an end-to-end test in st2tests. I’ll do that next week; should be pretty straightforward.

[2019-06-29 22:00] armab commented on #184
Thanks, I'll take care of the first part then: Nock/HTTP unit test in this repo to ensure hubot doesn't exit.

[2019-07-16 17:03] #184 closed

[2019-07-23 12:25] ChickenNotHD opened #188 "hubot-stackstorm not responding with result in Mattermost"
Original forum thread: https://forum.stackstorm.com/t/st2chatops-with-mattermost-not-replying/711

Created at the request of @armab

Good morning,

Currently, hubot-stackstorm does not respond with the output/result of a stackstorm command on Mattermost.

Here is what happens when I send `!pack get docker`

1. Bot successfully reads my command.
2. Stackstorm successfully runs the command.
3. The o

[2019-07-23 12:58] armab commented on #188
Thanks for reporting this!

I think @blag was trying to reproduce Mattermost issue in his environment.
I'll let him share his findings and plans.

[2019-07-30 12:44] stiewie33 opened #189 "Hubot feature request"
For transparency and clarity on who works with stackstorm via chatops, it would be beneficial to lock down hubot to specific channels, ensuring no one ( except certain users, or workspace admins) are able to add hubot to public/private channels, and disabling the DM functionality.

[2019-07-30 12:47] #189 closed

[2019-07-30 18:15] blag commented on #189
Duplicate of #165.

[2019-08-08 13:27] armab commented on #188
Fixed in https://github.com/StackStorm/hubot-stackstorm/pull/192

[2019-08-08 13:27] #188 closed

[2019-08-16 20:36] blag opened #195 "Help command should only list commands the user is allowed to run"
A customer asked for this feature.

The `!help` command currently just dumps every command that is loaded by st2chatops. This is due to how hubot commands are loaded (into `robot.commands`) and how the hubot-help plugin works.

It would be helpful if the bot only dumped out commands that the authenticated ChatOps user can run. This would reduce confusion, because the situation right now amounts to

[2019-08-27 09:36] pradiptadas115 opened #196 "npm WARN deprecated coffee-script@1.12.7: CoffeeScript on NPM has moved to "coffeescript" (no hyphen)"
When I try to run ` npm install hubot-stackstorm`
I am getting this issue :

`root@56914a14ea3b:~/myhubot# npm install hubot-stackstorm`
`npm WARN deprecated coffee-script@1.12.7: CoffeeScript on NPM has moved to "coffeescript" (no hyphen)`
`npm ERR! code ENOVERSIONS`
`npm ERR! No valid versions available for st2client`

`npm ERR! A complete log of this run can be found in:`
`npm ERR!     /root/.n

[2019-08-27 09:38] armab commented on #196
Is there anything more specific in ` /root/.npm/_logs/2019-08-27T09_31_24_173Z-debug.log` ?

[2019-08-27 09:45] pradiptadas115 commented on #196
0 info it worked if it ends with ok
1 verbose cli [ '/usr/bin/node', '/usr/bin/npm', 'install', 'hubot-stackstorm' ]
2 info using npm@6.4.1
3 info using node@v10.14.0
4 verbose npm-session 19ea4cb89db12a5a
5 silly install loadCurrentTree
6 silly install readLocalPackageData
7 http fetch GET 200 https://registry.npmjs.org/hubot-stackstorm 38ms (from cache)
8 silly pacote tag manifest for hubot-stac

[2019-08-27 09:59] armab commented on #196
Thanks for the report!

Looks like https://www.npmjs.com/package/st2client is missing for some reason.

[2019-08-27 10:11] pradiptadas115 commented on #196
@armab what should I do ?

[2019-08-29 13:56] armab commented on #196
https://www.npmjs.com/package/st2client is back and recovered, thanks to @blag

@pradiptadas115 Installation should now work properly. Thanks for your report!

[2019-08-29 13:56] #196 closed

[2019-09-02 09:13] pradiptadas115 opened #197 "found 1 moderate severity vulnerability"
I can see an issue of " hubot-stackstorm" package installation :

root@bef5e65692ca:/myhubot# npm install hubot-stackstorm
npm WARN deprecated coffee-script@1.12.7: CoffeeScript on NPM has moved to "coffeescript" (no hyphen)
+ hubot-stackstorm@0.10.0
added 27 packages from 61 contributors and audited 305 packages in 10.924s
found 1 moderate severity vulnerability
  run `npm audit fix` to fix them,

[2019-09-10 14:24] armab commented on #197
Thanks for the report,

It's related to outdated dependencies we're using in https://github.com/StackStorm/st2client.js

[2019-11-16 20:27] viveksyngh opened #198 "Chatops does not seem to be working for cisco spark [webex teams]"
Hi,

I am using chatops with cisco spark ( Webex Team).  I am able to get messages from webex teams room to `st2chatops` but it is failing to handle the messages correctly.

1. When I run any command inside a webex room, It does not respond and I can see in the logs there are no listeners.

[code]

2. I am sending the message using `chatops.post_message` it not able to send the message to correct

[2019-11-17 17:15] armab commented on #198
Thanks for report,

We didn't verify Cisco Spark for quite a long time, but maybe someone from Community members is using it successfully and can jump in to share his experience and help.

[2019-11-18 08:54] viveksyngh commented on #198
Looks like `hubot-spark` adapter is using https://www.npmjs.com/package/ciscospark, which has been deprecated and replaced with https://www.npmjs.com/package/webex.

[2019-11-19 18:44] blag commented on #198
The `webex` package looks like it's a drop-in replacement for the `ciscospark` package, which is promising. Hopefully, we may be able to just swap out the dependencies without changing any of our code. This adapter is community supported though, so we'll need somebody who has access to a Webex server to make the changes, test the code, and submit a PR.

Note that the [`hubot-spark`](https://github

[2019-12-16 23:41] Sphinxs commented on #33
Why would I receive this error using just the Stack Storm in a Docker container and following the quick tutorial, I have logged in at the web interface and in the CLI...?

[2019-12-18 00:03] blag commented on #33
@Sphinxs Can you point me to the quick tutorial you used? There are a few "quick tutorials" of StackStorm around.

If you are running ST2 as one-microservice-per-container, then I suspect that your st2chatops container is not configured properly. Check the `ST2_API_KEY` environment variable in the container and make sure it is a valid API key for the ST2 API, or check that the `ST2_API_KEY` in `/o

[2019-12-18 00:06] Sphinxs commented on #33
The tutorial was [this](https://docs.stackstorm.com/start.html) one, I'm going to check. I'm running as a single container.

[2019-12-18 01:41] Sphinxs commented on #33
I get how it works watching the [StackStorm 101 (v0.12)](https://www.youtube.com/watch?v=CwEzO_f-q3s)

[2019-12-21 00:33] blag commented on #33
Okay, just keep in mind that that tutorial is over four years old at this point, and is running StackStorm 0.12. The last released version of StackStorm was 3.1, so there's been quite a few changes since then and things may not work the same way. And hubot-stackstorm in particular has seen some [huge refactoring](https://github.com/StackStorm/hubot-stackstorm/pulls?q=is%3Apr+is%3Aclosed+label%3Are

[2020-02-07 20:05] blag commented on #198
PR #200 is mostly looking good. And we'll need a new released version of hubot-spark with your fixes in place to rely on in [st2chatops](https://github.com/StackStorm/st2chatops/blob/master/package.json#L24).

[2020-02-09 13:03] viveksyngh commented on #198
I have updated it based on the comments.

[2020-02-09 16:35] jcoeder commented on #198
I have access to Webex and will gladly help anyone who is wanting to work on this.

[2020-04-10 20:37] #198 closed

[2020-04-18 20:48] cognifloyd commented on #166
Putting blocks under attachments was the only way I could get any blocks to work. `blocks` should actually replace `attachments`, so it would be something like:
[code]

When I used the workaround of putting blocks under attachments, iirc, there were no error messages in the log, but the actions never showed up in Slack.

[2020-04-21 14:57] armab commented on #197
Currently there are 2 security issues for `hubot-stackstorm` due to dependencies:
![](https://i.imgur.com/jRWoq0R.png)

First is `axios`, which should be fixed in https://github.com/StackStorm/st2client.js/pull/76, thanks to @bgaeddert
![](https://i.imgur.com/5JN9MDs.png)

Second is `lodash.template`
![](https://i.imgur.com/Or5wVdRg.png)

[2020-06-12 11:51] kanusoni opened #205 "chatops with hubot slack and stackstorm"
Hi,

i have integrated slack hubot with stackstorm, hubot is online, it's answering but only help command is working. can you please let me know how we can create our own alias or actions in stackstorm for making bot more intelligent.

[2020-06-18 23:15] blag commented on #166
Does something like this work? Can you test this out? It's straight out of the [Slack docs](https://api.slack.com/block-kit/building#stack_of_blocks):

[code]

[2020-07-25 00:25] blag commented on #205
ChatOps documentation is located here: https://docs.stackstorm.com/chatops/aliases.html

If you need additional help, the StackStorm Slack community is very active (the #community and #chatops channels will be the most helpful for you):
https://stackstorm-community.slack.com

Closing this issue, but if you run into any bugs in the hubot-stackstorm code, feel free to open a new issue in this reposi

[2020-07-25 00:25] #205 closed

[2020-07-30 20:51] blag opened #209 "Update Slack adapter"
Our Slack adapter automatically chunks up messages that are "too large" (>7900 characters) and sends the message chunks separately, [scheduling the next chunk to send after a 300ms delay](https://github.com/StackStorm/hubot-stackstorm/blob/65f69e0c0aab7a0e5d0d8de0495e5000c79b2c62/src/lib/adapters/slack.js#L210):

[code]

But, the Slack plugin for Hubot [now](https://github.com/slackapi/hubot-slack

[2020-09-01 17:03] blag commented on #197
This issue is held up by hubot-slack, which still does not support coffeescript 2 at this point:

* https://github.com/slackapi/hubot-slack/pull/565
* https://github.com/slackapi/hubot-slack/pull/594

I don't think this is a security issue, but this is _not_ one of the `devDependencies`.

I documented this in the [README for st2chatops](https://github.com/StackStorm/st2chatops#updating), which is

[2020-09-30 23:21] smailbouramdane opened #210 "Oops; flutter has exited unexpectedly: "Bad state: The client closed with pending request "streamListen"."."
![Capture d’écran 2020-10-01 à 00 19 45](https://user-images.githubusercontent.com/72172228/94749545-f7e87700-037b-11eb-8e7b-31e47f6682a9.png)
![Capture d’écran 2020-10-01 à 00 20 40](https://user-images.githubusercontent.com/72172228/94749547-f919a400-037b-11eb-8525-26445a5db680.png)

[2020-09-30 23:22] smailbouramdane commented on #210
[flutter_10.log](https://github.com/StackStorm/hubot-stackstorm/files/5308688/flutter_10.log)

[2020-09-30 23:23] smailbouramdane commented on #210
![Capture d’écran 2020-10-01 à 00 23 38](https://user-images.githubusercontent.com/72172228/94749713-60cfef00-037c-11eb-8fd5-f5fcdf8208ca.png)

[2020-10-01 00:04] nmaludy commented on #210
I don't think this is the right repo.

[2020-10-01 00:04] #210 closed

[2020-10-01 19:17] nmaludy commented on #197
Removing from 3.3.0 until upstream changes in hubot have been fixed.

[2022-06-28 18:49] rithvikrao6 commented on #161
Hello, looking to pick up this feature as it looks like it wasn't picked up. What would be the correct course of action to integrate this without disrupting other chat adapters?

[2022-06-28 23:00] rithvikrao6 commented on #161
@LindsayHill @nzlosh I'm looking to pick up this issue. What would the best steps be for not breaking the other chat adapters with the addition of threaded responses to the slack adapter?